<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="~{fragments :: head}"></head>-->
<!--<body>-->

<!--<header th:replace="~{fragments :: page-header}"></header>-->
<!--<div class="container">-->
<!--    <form method="post">-->
<!--<div class="form-margin">-->

<!--        <div class="form-group">-->
<!--            <label>Username-->
<!--                <input class="form-control" th:field="${loginFormDTO.username}" />-->
<!--            </label>-->
<!--            <p class="error" th:errors="${loginFormDTO.username}"></p>-->
<!--        </div>-->
<!--        <br>-->
<!--        <div class="form-group">-->
<!--            <label>Password-->
<!--                <input class="form-control" th:field="${loginFormDTO.password}" type="password" />-->
<!--            </label>-->
<!--            <p class="error" th:errors="${loginFormDTO.password}"></p>-->
<!--        </div>-->
<!--<br>-->
<!--        </form>-->
<!--        <div class="centered-button-container">-->
<!--            <div class="button-container">-->
<!--        <form th:action="@{/login}" method="post" class="button">-->
<!--            <button type="submit" class="btn btn-primary">Log In</button>-->
<!--        </form>-->
<!--        </div>-->
<!--            </div>-->


<!--</div>-->
<!--<br>-->
<!--<p>Don't have an account? <a href="/register">Register for one.</a></p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>

<header th:replace="~{fragments :: page-header}"></header>
<div class="container">
    <form method="post">
        <div class="form-margin">
            <div class="form-group">
                <label>Username
                    <input class="form-control" th:field="${loginFormDTO.username}" />
                </label>
                <p class="error" th:errors="${loginFormDTO.username}"></p>
            </div>
            <br>
            <div class="form-group">
                <label>Password
                    <input class="form-control" th:field="${loginFormDTO.password}" type="password" />
                </label>
                <p class="error" th:errors="${loginFormDTO.password}"></p>
            </div>
            <br>
            <div class="centered-button-container">
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </div>
        </div>
    </form>
    <br>
    <p>Don't have an account? <a href="/register">Register for one.</a></p>
</div>
</body>
</html>
