/* .quiz-page {
    font-family: 'Arial', sans-serif;
    padding: 20px;
  } */
  
  .start-quiz-container-normal {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    background-color: #f5f5f5;
    color: #333;
  }

  .start-quiz-container-big {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    background-color: #ccc;
    color: #333;
  }

  .start-quiz-container-fun {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: fantasy;
    font-weight: bolder;
    background-color: lightcyan;
    background-image: url("/Users/tus18846/IdeaProjects/IntelliJAC-LiftOff/frontend_intellijac/intellijac-frontend/src/styles/spongebob-water-background-9qyre.webp");
    color: #333;
  }

  .start-quiz-container label,
  .start-quiz-container select,
  .start-quiz-container button {
    margin: 10px;
  }
  
  .nav-link {
    display: block;
    margin-bottom: 10px;
    color: #3498db;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .correct-answer {
    color: green;
    font-weight: bold;
  }
  
  .incorrect-answer {
    color: red;
    font-weight: bold;
  }
  
  .quiz-completed-container {
    text-align: center;
    margin-top: 20px;
    color: purple;
    font-size: 40px;
  }
  
  .quiz-completed-container button {
    margin-top: 10px;
    font-size: 20px;
  
  }