.quiz-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.light {
    background-color: beige;
}

.dark {
    background-color: gray;
}

.blue {
    background-color: lightblue;
}